
.salim img {
	width: 100%;
	height: 600px;
}

.siz h3 {
	font-family: sigmar one;
	color: #fff;
	font-size: 60px;

}

.siz  p{
	font-family: candara;
	color: #fff;
}

.siz {
	left: 0px;
	right: 0px;
	top: 250px;
	bottom: 0px;
	margin: auto;
}

.golgol li {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #FFF;
	background: transparent
}

.golgol li.active {
	background: #FFF;
}


